@charset "ISO-8859-1";
table, tr, td {
	border:1px solid black;
}
	
table {
	width: 100%;
}

td:nth-child(1) {
	text-align: right;
	padding-right: 5px;
}

td:nth-child(2){
	text-align: center
}

.header {
	text-align:center;
	background-color: #442080;
	color: white;		
}

.in-line{
	display: inline-block;
	width: 49%;
}

.shadow {
	webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
}

.border-left {
	border-left: .3rem solid #442080 !important; 
}
.card-body {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

.text-size {
	font-size: .7rem;
}

.modebar {
	display: none !important;
}

#alert {
	position: fixed;	
	z-index: 10;
	width:	100%;
	align-content: center;
}

.right {
	flex: right;
	width: 20%;
}